<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    
  </head>
  <body>