<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link <% if(active == 'tokens'){ %> active <% } %>" href="/tokens">Mis tokens</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  <% if(active == 'buy'){ %> active <% } %> " href="/buy">Comprar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  <% if(active == 'history'){ %> active <% } %> " href="/history">Historial</a>
  </li>
</ul>